
.cpcache/

.shadow-cljs/

node_modules/

backend/hacked_api/build/

backend/stripe/build/

.clj-kondo/

backend/eql/build/

mobile-app/src/app/secrets.cljs

roam-plugin/public/

roam-plugin/src/roam_plugin/secrets.cljs

# Supabase
**/supabase/.branches
**/supabase/.temp
