;; shadow-cljs configuration
{:deps true

 :dev-http {8000 ["roam-plugin/public"]}

 :builds
 {:app
  {:target     :react-native
   :init-fn    din.app/init
   :output-dir "mobile-app/app"
   :devtools   {:autoload true
                :preloads [shadow.expo.keep-awake]}}

  :app-test
  {:target    :node-test
   :output-to "mobile-app/test/node-tests.js"
   :autorun   true}

  :roam-plugin
  {:target     :browser
   :js-options {:js-package-dirs ["roam-plugin/node_modules"]}
   :output-dir "roam-plugin/public/assets/app/js"
   :asset-path "/assets/app/js"
   :modules    {:main {:entries [roam-plugin.core]}}}}}
